---
import Counter from '@/components/ui/Counter.jsx';
---

<section id="estadisticas" class="py-20 px-30 bg-black">
    
    <div class="border border-white/10 bg-black rounded-xl flex items-center">

        <div class="flex flex-col items-center justify-center py-10 px-6 flex-1">
            <span class="text-6xl font-black text-white leading-none">
                <Counter client:visible to={100} duration={1} className="text-6xl font-black text-white" onStart={() => {}} onEnd={() => {}} /><span class="text-primary">%</span>
            </span>
            <p class="mt-3 text-sm text-grey tracking-wide">Rendimiento web</p>
        </div>

        <div class="h-16 w-px bg-white/10 shrink-0" />

        <div class="flex flex-col items-center justify-center py-10 px-6 flex-1">
            <span class="text-6xl font-black text-white leading-none">
                <Counter client:visible to={15} duration={2} className="text-6xl font-black text-white" onStart={() => {}} onEnd={() => {}} /><span class="text-primary">+</span>
            </span>
            <p class="mt-3 text-sm text-grey tracking-wide">Proyectos realizados</p>
        </div>

        <div class="h-16 w-px bg-white/10 shrink-0" />

        <div class="flex flex-col items-center justify-center py-10 px-6 flex-1">
            <span class="text-6xl font-black text-white leading-none">
                <Counter client:visible to={1} duration={5} className="text-6xl font-black text-white" onStart={() => {}} onEnd={() => {}} /><span class="text-primary">+</span>
            </span>
            <p class="mt-3 text-sm text-grey tracking-wide">Años de experiencia</p>
        </div>

    </div>

</section>