<header class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center py-6 px-30 bg-white">

    <div class="flex items-center gap-4">
        <svg class="w-12 h-12 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 909.51 740.15">
            <path class="cls-1" d="M709.21,215.05L816.42,0H302.34L119.95,365.8h66.69L0,740.15,909.51,215.05h-200.3ZM158.37,571.8l135.92-272.61h-66.69l115.96-232.58h365.23l-81.25,162.95h-164.08l-25.98,52.1h223.43l-170.66,98.53h-101.9l-41.19,82.61-188.8,109Z" fill="currentColor"/>
        </svg>
        <p class="text-md font-semibold italic text-black">FRANSZ</p>
    </div>

    <nav class="nav-link">
        <ul class="flex gap-12">
            <li><a href="#hero" class="text-md font-semibold text-grey">Inicio</a></li>
            <li><a href="#experiencia" class="text-md font-semibold text-grey">Experiencia</a></li>
            <li><a href="#sobre-mi" class="text-md font-semibold text-grey">Sobre mí</a></li>
            <li><a href="#proyectos" class="text-md font-semibold text-grey">Proyectos</a></li>
        </ul>
    </nav>

    <a href="#" class="text-md font-semibold py-2 px-5 bg-black text-white rounded-xl">Contacto</a>

</header>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import lenis from "@/scripts/lenis";

    gsap.registerPlugin(ScrollTrigger);

    const navLinks = document.querySelectorAll<HTMLAnchorElement>('nav ul li a');

    const setActiveLink = (activeLink: HTMLElement) => {
        navLinks.forEach(link => {
            link.classList.remove('text-black', 'font-extrabold');
            link.classList.add('text-grey', 'font-semibold');
        });
        
        activeLink.classList.add('text-black', 'font-extrabold');
        activeLink.classList.remove('text-grey', 'font-semibold');
    };

    navLinks.forEach(link => {
        link.addEventListener('click', (e) => {
            const href = link.getAttribute('href');
            
            if (href && href.startsWith('#')) {
                e.preventDefault();
                const targetId = href;
                const targetElement = document.querySelector(targetId);

                if (targetElement) {
                    setActiveLink(link);

                    lenis.scrollTo(targetElement as HTMLElement, {
                        duration: 1.2,
                        offset: -80,
                    });
                }
            }
        });

        const sectionId = link.getAttribute('href');
        if (sectionId && sectionId.startsWith('#')) {
            const section = document.querySelector(sectionId);
            if (section) {
                ScrollTrigger.create({
                    trigger: section,
                    start: "top 40%",
                    end: "bottom 40%",
                    onToggle: (self) => {
                        if (self.isActive) setActiveLink(link);
                    }
                });
            }
        }
    });
</script>