<section class="flex flex-col gap-8 justify-center items-start h-[calc(100vh-96px)]">

    <h1 class="text-black font-black text-6xl text-left max-w-2xl">Transformando conceptos <span class="text-[63px] font-playfair">creativos</span> en experiencias digitales funcionales.</h1>
    
    <p class="text-lg text-light-grey max-w-md">Desarrollador <span class="text-primary font-extrabold">Front-end</span> y <span class="text-primary font-extrabold">Diseñador UI</span> enfocado
        en crear productos digitales que <span class="text-primary font-extrabold">escalan y 
        convierten</span>.
    </p>

    <div class="flex gap-8 items-center">
        <a href="#" class="text-sm font-semibold py-3 px-6 bg-secondary text-white rounded-xl">Trayectoria</a>
        <a href="#" class="text-sm font-semibold py-3 px-6 border-2 border-secondary text-secondary rounded-xl">Conóceme</a>
    </div>

</section>