<section id="hero" class="flex flex-col gap-14 justify-center items-start h-[calc(100vh+96px)] snap-start max-w-188">

    <h1 class="text-black font-black text-7xl text-left leading-19">Transformando conceptos <span class="text-[70px] font-playfair">creativos</span> en experiencias digitales funcionales.</h1>
    
    <div class="max-w-200 flex flex-col gap-14">

        <p class="text-lg text-light-grey max-w-md">Desarrollador <span class="text-primary font-extrabold">Front-end</span> y <span class="text-primary font-extrabold">Diseñador UI</span> enfocado
            en crear productos digitales que <span class="text-primary font-extrabold">escalan y 
            convierten</span>.
        </p>

        <div class="flex gap-8 items-center justify-between">
            <a href="#experiencia" class="text-sm font-semibold py-3 px-12 bg-secondary text-white rounded-xl">Trayectoria</a>
            <a href="#sobre-mi" class="text-sm font-semibold py-3 px-12 ring-2 ring-secondary ring-inset text-secondary rounded-xl">Conóceme</a>
        </div>  

    </div>

</section>