---
import LogoLoop from '@/components/ui/LogoLoop.jsx';

// Fila de Logos de Arriba
import astro from '@/assets/tecnologias/astro.svg';
import tailwind from '@/assets/tecnologias/tailwind.svg';
import javascript from '@/assets/tecnologias/javascript.svg';
import wordpress from '@/assets/tecnologias/wordpress.svg';
import bootstrap from '@/assets/tecnologias/bootstrap.svg';
import github from '@/assets/tecnologias/github.svg';

const filaArriba = [
    { src: astro.src, alt: "Logo Astro" },
    { src: tailwind.src, alt: "Logo Tailwind" },
    { src: javascript.src, alt: "Logo JavaScript" },
    { src: wordpress.src, alt: "Logo WordPress" },
    { src: bootstrap.src, alt: "Logo Bootstrap" },
    { src: github.src, alt: "Logo GitHub" }
];

const loopArriba = {
    logos: filaArriba,
    speed: 30,
    hoverSpeed: 30,
    direction: "left",
    logoWidth: 40,
    logoHeight: 40, 
    gap: 50,
    fadeOut: true,
    fadeOutColor: "#1a1a1a",
    scaleOnHover: true
};

// Fila de Logos de Abajo
import react from '@/assets/tecnologias/react.svg';
import vite from '@/assets/tecnologias/vite.svg';
import html from '@/assets/tecnologias/html.svg';
import css from '@/assets/tecnologias/css.svg';
import c from '@/assets/tecnologias/c.svg';
import python from '@/assets/tecnologias/python.svg';

const filaAbajo = [
    { src: react.src, alt: "Logo React" },
    { src: vite.src, alt: "Logo Vite" },    
    { src: html.src, alt: "Logo HTML" },
    { src: css.src, alt: "Logo CSS" },
    { src: c.src, alt: "Logo C" },
    { src: python.src, alt: "Logo Python" }
];

const loopAbajo = {
    logos: filaAbajo,
    speed: 40,
    hoverSpeed: 40,
    direction: "left",
    logoWidth: 30,
    logoHeight: 30, 
    gap: 50,
    fadeOut: true,
    fadeOutColor: "#1a1a1a",
    scaleOnHover: true
};
---

<section class="flex flex-col gap-40 justify-start items-start min-h-screen bg-black px-30">

    <h1 id="sobre-mi" class="text-white font-black text-7xl text-left mt-40">
        Sobre Mi
    </h1>

    <div class="flex flex-col gap-10 max-w-lg">

        <h2 class="text-white text-4xl font-extrabold">Hola, soy <span class="text-primary">Francisco Jarusz</span></h2>

        <div class="flex flex-col gap-4 text-grey text-sm">
            <p>
                Estudiante de Licenciatura en Gestión de Tecnología de la Información en la Universidad Argentina de la Empresa <span class="font-bold text-white">(UADE)</span>, me dedico a unir la arquitectura técnica con la <span class="italic">estética</span> visual.
            </p>
            <p>
                Mi enfoque está en la <span class="italic">intersección</span> entre el rendimiento y la usabilidad: diseño y desarrollo productos digitales que no solo son atractivos, sino eficientes, escalables y fáciles de navegar.

            </p>

        </div>        

        <div class="flex flex-col gap-8">

            <span class="opacity-80">
                <LogoLoop {...loopArriba} client:load />                
            </span>

            <span class="opacity-30">
                <LogoLoop {...loopAbajo} client:load />
            </span>
            
        </div>
        
    </div>

</section>